[submodule "vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "bundle/vim-diffchanges"]
	path = bundle/vim-diffchanges
	url = https://github.com/jmcantrell/vim-diffchanges
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "bundle/vim-arduino"]
	path = bundle/vim-arduino
	url = https://github.com/tclem/vim-arduino
[submodule "bundle/vim-liquid"]
	path = bundle/vim-liquid
	url = https://github.com/tpope/vim-liquid
