[submodule "nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
